body {
  font-size: 15px;
  color: #333;
  letter-spacing: 1px;
}
.slides-navigation {
  z-index: 5;
}
.slides-navigation .prev,
.slides-navigation .next {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-repeat: no-repeat;
}

.slides-navigation > a.prev {
  left: 3px;
  background-image: url(../images/icons8-chevron-left-32.png);
}

.slides-navigation > a.next {
  right: 3px;
  background-image: url(../images/icons8-chevron-right-32.png);
}
.over-lay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
  filter: brightness(40%);
}
.title-messages {
  position: absolute;
  width: 100%;
  top: 35%;
  z-index: 4;
  text-align: center;
  height: 100px;
}
.title-heading > p {
  color: rgb(235, 221, 221);
  letter-spacing: 7px;
  font-weight: 100;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
.name {
  font-size: 45px;
}
.title-heading > .job-title {
  font-size: 25px;
}
.about-section {
  padding: 100px 0;
}
.PortfolioPic {
  max-width: 100%;
  height: 522.5px;
}
.about-me-paragraph {
  font-size: 17px;
  letter-spacing: 2px;
}
.push-down {
  padding: 200px 0;
}

.skills,
.contact,
.footer {
  background-color: rgb(4, 189, 127);
}

.what-I-know {
  font-weight: 1000;
  font-size: 16px;
  color: rgb(235, 221, 221);
}
.what-I-know > .list-one,
.what-I-know > .list-two,
.what-I-know > .list-three {
  float: left;
  margin-top: 40px;
}
.what-I-know > .list-two,
.what-I-know > .list-three {
  margin-left: 33%;
  margin-top: 40px;
}
.squareItem {
  margin-top: 60px;
  position: relative;
}
.squareInnerContainer {
  position: relative;
  padding: 15px 15px 35px;
  border: 2px solid #333;
  border-top: none;
}
.squareInnerContainer {
  content: '';
  position: absolute;
  top: 0px;
  width: 90;
  border-bottom: 2px solid #333;
  border-top: 2px solid #333;
}

.squareContent > h2 {
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: 400;
  margin-left: 10px;
  color: rgb(4, 189, 127);
}
.squareContent > h3 {
  font-size: 10px;
  font-weight: 600px;
  margin: 0px;
  margin-left: 15px;
}
.squareIcon {
  position: absolute;
  left: 45%;
  top: 0px;
  width: 40px;
  color: #333;
}
.squareContent > h4 {
  margin-left: 20px;
}
.just-pad-it {
  padding-bottom: 50px;
  padding-top: 55px;
}
.just-pad-it-2 {
  padding-bottom: 49px;
  padding-top: 45px;
}
.squareInnerContainer:hover,
.list-one:hover,
.list-two:hover,
.list-three:hover {
  transform: scale(1.25);
}
.linkedin-icon,
.github-icon {
  height: 25px;
  transform: scale(1.5);
}
.linkedin-icon:hover,
.github-icon:hover {
  transform: scale(2.25);
}
.subheading {
  padding: 5px 10px;
  font-size: 35px;
}
.getting-in-touch {
  padding: 15px 20px;
  display: inline-block;
  font-weight: 600;
  margin-top: 10px;
  border: 1px solid #333;
  border-radius: 2px;
}
.getting-in-touch:hover {
  color: rgb(4, 189, 127);
  background-color: #333;
}

.heading {
  text-align: center;
}

.filter > ul {
  display: block;
  padding: 10px 19px;
  margin-top: 20px;
  text-align: center;
}
#filters > li {
  display: inline-block;
  padding: 5px;
  margin-left: 55px;
}
#filters > li > a {
  border: 1px solid rgb(4, 189, 127);
  padding: 5px;
}
.current {
  background-color: #666;
  color: #333;
  background-color: green;
}

.active {
  background-color: #666;
  color: #333;
  background-color: green;
}
.PortfolioItems {
  height: 150px;
  width: 150px;
}
.icons {
  position: absolute;
  width: 90px;
  height: 50px;
  top: 45%;
  left: 35%;
  margin-left: -25px;
  z-index: 3;
  font-size: 18px;
}
.item {
  padding: 10px;
}
.imageOverLay {
  height: 150px;
  width: 150px;
  left: 25px;
  position: absolute;
  top: 10px;
  filter: brightness(40%);
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;

  z-index: 2;

  -webkit-transition: all 0.2s linear, 1s;
  -moz-transition: all 0.2s linear, 1s;
  -o-transition: all 0.2s linear, 1s;
  -ms-transition: all 0.2s linear, 1s;
  -transition: all 0.2s linear, 1s;
}
.item:hover > .imageOverLay {
  opacity: 4;
}
.nav-bar-container {
  width: 100%;
}
#sticky-nav-bar {
  background-color: rgb(4, 189, 127);
  padding: 20px 10px;
  z-index: 20;
  width: inherit;
}

.nav-list {
  padding: 0px 25px 0px 25px;
}
.nav-list > a,
.nav-list > a:hover {
  color: black;
}
.navbar-toggler-icon {
  background: url(../images/icons8-menu-64.png);
}
.fixedNav #sticky-nav-bar {
  position: fixed;
  top: 0;
}
@media (max-width: 640px) {
  .the-first,
  .the-second,
  .the-third {
    padding: 0px;
  }
  .the-second {
    margin-top: 129px;
    padding: 0px 50px 10px;
  }
  .the-third {
    margin-top: 146px;
    padding: 0px 0px 10px;
  }
  .push-down {
    margin-top: -150px;
  }

  .about-me-paragraph {
    margin-top: 10px;
  }
  .name {
    font-weight: 1000px;
  }
}

@media (max-width: 440px) {
  .PortfolioPic {
    margin-left: 10%;
  }
}
